*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
}
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg,white, #c2c2c2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
} 

.container{
background-color: #fafafa;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
width: 400px;
max-width: 100%;
}

.header{
background-color: #eee;
padding: 20px;
}

.form{
    padding: 20px;

}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.botao{
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

h2{
    text-align: center;
}
.voltar button{
    padding-top: 35px;
    color: black;
    background-color: #eee;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #eee;
    margin-top: 20px;

}

.caixa{
    margin-bottom: 10px; 
    padding-bottom: 20px;  
    position: relative;
}

.caixa label {
    display: inline-block; 
    margin-bottom: 5px;  
}

.caixa input {
    border: 2px solid #f0f0f0; 
    display: block; 
    border-radius: 10px; 
    font-size: 14px; 
    width: 100%; 
    padding: 10px;
}

.a{
    background-color: blue;
    border: 2px solid blue;
    color: white;
    font-size: 14px;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 38px;
    display: inline-block;
}

.con-can {
    background-color: blue;
    border: 2px solid blue;
    color: white;
    font-size: 14px;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 38px;
}

.con {
    background-color: green;
    border: 2px solid green;
    color: white;
    font-size: 14px;
    width: 35%;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 38px;
}

.can {
    background-color: red;
    border: 2px solid red;
    color: white;
    font-size: 14px;
    width: 35%;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 34px;
}