.loadingContainer {
  display: block;
  background: #f0f0f0;
  border: solid 1px #f0f0f0;
  width: 540px;
  height: 245px;
}

.rowSkeleton {
  border: solid 1px #f0f0f0;
  width: 540px;
  height: 245px;
  cursor: default;
}