.navbar {
  padding: 0px;
}

.navbar-main {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-main .navbar-brand {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
  color: #000;
}
.navbar-main .navbar-brand:hover, .navbar-main .navbar-brand:focus, .navbar-main .navbar-brand:active, .navbar-main .navbar-brand:active:focus:not(:disabled):not(.disabled) {
  color: #000;
}
.navbar-main .navbar-brand img,
.navbar-main .navbar-brand svg {
  display: inline;
  max-width: 100%;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar-main .navbar-toggler {
  border: none;
}
.navbar-main .navbar-nav .nav-link {
  color: #000;
  transition: ease 0.5s;
}
.navbar-main .navbar-nav .nav-link:hover, .navbar-main .navbar-nav .nav-link:focus, .navbar-main .navbar-nav .nav-link:active, .navbar-main .navbar-nav .nav-link:active:focus:not(:disabled):not(.disabled) {
  color: #d6d6d6;
}
.navbar-main .navbar-nav .active > .nav-link,
.navbar-main .navbar-nav .show > .nav-link {
  color: #d6d6d6;
}
.navbar-main .navbar-nav .dropdown .avatar {
  display: inline;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.navbar-main .navbar-nav .dropdown .username {
  margin: 0 0.6em;
}
.navbar-main .navbar-nav .dropdown-menu .dropdown-item {
  text-decoration: none;
  transition: ease 0.5s;
}
.navbar-main .navbar-nav .dropdown-menu .dropdown-item i {
  text-align: center;
  margin-right: 6px;
}
.navbar-main .navbar-nav .dropdown-menu .dropdown-item:hover {
  text-decoration: none;
  background: #fcfcfc;
}
.navbar-main .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar-main .navbar-nav .dropdown-menu .dropdown-item:active, .navbar-main .navbar-nav .dropdown-menu .dropdown-item:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  text-decoration: none;
  background: transparent;
}
.navbar-main .navbar-nav .logout {
  color: #f46a6a !important;
}
.navbar-main .dropdown-toggle {
  display: flex;
  align-items: center;
}

.landing {
  margin-top: 5%;
}
.landing .title {
  font-size: 4em;
  font-weight: 600;
}
.landing .description {
  font-size: 20px;
  color: #6c757d;
}
.landing .secure {
  color: #f46f49;
}
.landing .icon {
  display: inline-flex;
  align-items: center;
  font-size: 3rem;
}
.landing .box-buttons button,
.landing .box-buttons a {
  margin-right: 10px;
}
.landing .box-buttons .btn-create-room,
.landing .box-buttons .btn-create-room:focus,
.landing .box-buttons .btn-create-room:active,
.landing .box-buttons .btn-create-room:active:focus:not(:disabled):not(.disabled) {
  display: inline-block;
  align-items: center;
  color: #fff;
  background: #1111cb;
  border-color: #1111cb;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.landing .box-buttons .btn-create-room i,
.landing .box-buttons .btn-create-room:focus i,
.landing .box-buttons .btn-create-room:active i,
.landing .box-buttons .btn-create-room:active:focus:not(:disabled):not(.disabled) i {
  margin-right: 5px;
}
.landing .box-buttons .btn-create-room img,
.landing .box-buttons .btn-create-room:focus img,
.landing .box-buttons .btn-create-room:active img,
.landing .box-buttons .btn-create-room:active:focus:not(:disabled):not(.disabled) img {
  margin-right: 5px;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #fff;
}
.landing .box-buttons .btn-create-room:hover,
.landing .box-buttons .btn-create-room:focus:hover,
.landing .box-buttons .btn-create-room:active:hover,
.landing .box-buttons .btn-create-room:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}
.landing .box-buttons .btn-work,
.landing .box-buttons .btn-work:focus,
.landing .box-buttons .btn-work:active,
.landing .box-buttons .btn-work:active:focus:not(:disabled):not(.disabled) {
  color: #000;
  background: transparent;
  border-color: #1111cb;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.landing .box-buttons .btn-work:hover,
.landing .box-buttons .btn-work:focus:hover,
.landing .box-buttons .btn-work:active:hover,
.landing .box-buttons .btn-work:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}

.login-form .login,
.login-form .image,
.setup-form .login,
.setup-form .image {
  min-height: 100vh;
}
.login-form .bg-image,
.setup-form .bg-image {
  background-size: cover;
  background-position: center center;
}
.login-form hr.style-two,
.setup-form hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.login-form .box-logo,
.setup-form .box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form .box-logo .logo-title,
.setup-form .box-logo .logo-title {
  font-size: 23px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
  line-height: 0;
}
.login-form .box-logo .logo-title:hover, .login-form .box-logo .logo-title:focus, .login-form .box-logo .logo-title:active, .login-form .box-logo .logo-title:active:focus:not(:disabled):not(.disabled),
.setup-form .box-logo .logo-title:hover,
.setup-form .box-logo .logo-title:focus,
.setup-form .box-logo .logo-title:active,
.setup-form .box-logo .logo-title:active:focus:not(:disabled):not(.disabled) {
  color: #000;
}
.login-form .box-logo img,
.login-form .box-logo svg,
.setup-form .box-logo img,
.setup-form .box-logo svg {
  display: inline;
  max-width: 100%;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.login-form .logo-setup,
.setup-form .logo-setup {
  display: inline;
  max-width: 100%;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.form-control {
  height: 60px;
  text-indent: 10px;
  background: #e9ebef;
  color: #637089;
  border: none;
  max-width: 100%;
  border-radius: 10px;
}
.form-control:focus {
  background: #e9ebef;
  color: #637089;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #637089;
  font-size: 0.9rem;
}
.form-control:-ms-input-placeholder {
  color: #637089;
  font-size: 0.9rem;
}
.form-control::placeholder {
  color: #637089;
  font-size: 0.9rem;
}

select.form-control {
  height: 60px;
  padding-left: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:not(select) {
  border-radius: 0.25rem;
  padding: 1.5rem 0.5rem;
}

.wicon {
  position: relative;
}
.wicon input {
  text-indent: 30px;
  color: #aeb0b0;
  border-radius: 10px;
}
.wicon input:focus {
  box-shadow: none;
}
.wicon input::-moz-placeholder {
  font-size: 0.9rem;
}
.wicon input:-ms-input-placeholder {
  font-size: 0.9rem;
}
.wicon input::placeholder {
  font-size: 0.9rem;
}
.wicon .fa,
.wicon .fas,
.wicon .far,
.wicon .fal,
.wicon .fad,
.wicon .fab {
  position: absolute;
  top: 20px;
  color: #aeb0b0;
}
.wicon .fa.right,
.wicon .fas.right,
.wicon .far.right,
.wicon .fal.right,
.wicon .fad.right,
.wicon .fab.right {
  right: 16px;
}
.wicon .fa.left,
.wicon .fas.left,
.wicon .far.left,
.wicon .fal.left,
.wicon .fad.left,
.wicon .fab.left {
  left: 16px;
}

.btn-label {
  position: relative;
  padding-left: 44px;
}
.btn-label .label-icon {
  position: absolute;
  width: 32px;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-login,
.link-register,
.link-forgot-password {
  margin-top: 20px;
  text-align: center;
}
.link-login a,
.link-login button,
.link-login span,
.link-register a,
.link-register button,
.link-register span,
.link-forgot-password a,
.link-forgot-password button,
.link-forgot-password span {
  color: #6c757d;
  text-decoration: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.link-login a:hover, .link-login a:focus, .link-login a:active, .link-login a:active:focus:not(:disabled):not(.disabled),
.link-login button:hover,
.link-login button:focus,
.link-login button:active,
.link-login button:active:focus:not(:disabled):not(.disabled),
.link-login span:hover,
.link-login span:focus,
.link-login span:active,
.link-login span:active:focus:not(:disabled):not(.disabled),
.link-register a:hover,
.link-register a:focus,
.link-register a:active,
.link-register a:active:focus:not(:disabled):not(.disabled),
.link-register button:hover,
.link-register button:focus,
.link-register button:active,
.link-register button:active:focus:not(:disabled):not(.disabled),
.link-register span:hover,
.link-register span:focus,
.link-register span:active,
.link-register span:active:focus:not(:disabled):not(.disabled),
.link-forgot-password a:hover,
.link-forgot-password a:focus,
.link-forgot-password a:active,
.link-forgot-password a:active:focus:not(:disabled):not(.disabled),
.link-forgot-password button:hover,
.link-forgot-password button:focus,
.link-forgot-password button:active,
.link-forgot-password button:active:focus:not(:disabled):not(.disabled),
.link-forgot-password span:hover,
.link-forgot-password span:focus,
.link-forgot-password span:active,
.link-forgot-password span:active:focus:not(:disabled):not(.disabled) {
  text-decoration: none;
  color: #868e96;
}

.card {
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
}

.card,
.card-body {
  box-shadow: none;
  border-radius: 6px;
}

.card-tattos .card-header,
.card-tattos .card-body,
.card-tattos .card-footer {
  margin: 20px 0 20px 0;
}
.card-tattos .card-header {
  background: #fff;
  border-bottom: none;
}
.card-tattos .card-header h1,
.card-tattos .card-header h2,
.card-tattos .card-header h3,
.card-tattos .card-header h4,
.card-tattos .card-header h5,
.card-tattos .card-header h6,
.card-tattos .card-header span,
.card-tattos .card-header p {
  font-weight: bold;
  text-transform: uppercase;
}
.card-tattos .card-body .empty-tatto span,
.card-tattos .card-body .empty-tatto small {
  display: block;
}
.card-tattos .card-body .empty-tatto .empty-tatto-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-tattos .card-body .empty-tatto .empty-tatto-image img,
.card-tattos .card-body .empty-tatto .empty-tatto-image svg {
  max-width: 100%;
  width: 30%;
  height: 30%;
}
.card-tattos .card-body .empty-tatto .empty-tatto-title {
  font-weight: bold;
  font-size: 20px;
}
.card-tattos .card-body .empty-tatto .empty-tatto-description {
  font-weight: 500;
  line-height: 1.2;
}
.card-tattos .card-footer {
  background: #fff;
  border-top: none;
}

.card-new-tatto .card-header,
.card-new-tatto .card-footer {
  margin: 20px 0 0 0;
}
.card-new-tatto .card-header {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: none;
}
.card-new-tatto .card-header i {
  font-size: 1.25rem;
  margin-right: 20px;
}
.card-new-tatto .card-header h1,
.card-new-tatto .card-header h2,
.card-new-tatto .card-header h3,
.card-new-tatto .card-header h4,
.card-new-tatto .card-header h5,
.card-new-tatto .card-header h6,
.card-new-tatto .card-header span,
.card-new-tatto .card-header p {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
}
.card-new-tatto .card-footer {
  background: #fff;
  border-top: none;
}

.card-options {
  border: none;
}
.card-options .card-header {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: none;
}
.card-options .card-header i {
  font-size: 1.25rem;
  margin-right: 20px;
}
.card-options .card-header h1,
.card-options .card-header h2,
.card-options .card-header h3,
.card-options .card-header h4,
.card-options .card-header h5,
.card-options .card-header h6,
.card-options .card-header span,
.card-options .card-header p {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}
.card-options .card-footer {
  background: #fff;
  border-top: none;
}

.card-setting-nav .card-body a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #8a90a2;
}
.card-setting-nav .card-body a.active {
  color: #000;
}
.card-setting-nav .card-body a i {
  margin-right: 5px;
}

.card-setting-info .card-body .card-title,
.card-setting-personal .card-body .card-title {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.56px;
  color: #000;
  margin-top: 0;
  margin-bottom: 24px;
}

.btn-tatto-options,
.btn-tatto-options:focus,
.btn-tatto-options:active,
.btn-tatto-options:active:focus:not(:disabled):not(.disabled) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  background: #FFF;
  border-color: #FFF;
  height: 80px;
  border-radius: 10px;
  transition: 0.5s ease;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
.btn-tatto-options .icon-box,
.btn-tatto-options:focus .icon-box,
.btn-tatto-options:active .icon-box,
.btn-tatto-options:active:focus:not(:disabled):not(.disabled) .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d6e9f6;
  color: #4287fe;
  font-size: 23px;
  margin-right: 20px;
}
.btn-tatto-options .fas:not(.icon-box),
.btn-tatto-options:focus .fas:not(.icon-box),
.btn-tatto-options:active .fas:not(.icon-box),
.btn-tatto-options:active:focus:not(:disabled):not(.disabled) .fas:not(.icon-box) {
  font-size: 1.25rem;
  margin-right: 20px;
}
.btn-tatto-options:hover,
.btn-tatto-options:focus:hover,
.btn-tatto-options:active:hover,
.btn-tatto-options:active:focus:not(:disabled):not(.disabled):hover {
  color: #000;
  background: #f7f7f7;
  border-color: #f7f7f7;
}
.btn-tatto-options:disabled,
.btn-tatto-options button[disabled],
.btn-tatto-options:focus:disabled,
.btn-tatto-options:focus button[disabled],
.btn-tatto-options:active:disabled,
.btn-tatto-options:active button[disabled],
.btn-tatto-options:active:focus:not(:disabled):not(.disabled):disabled,
.btn-tatto-options:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-login,
.btn-login:focus,
.btn-login:active,
.btn-login:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  background: #1111cb;
  border-color: #1111cb;
  height: 60px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-login:hover,
.btn-login:focus:hover,
.btn-login:active:hover,
.btn-login:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}
.btn-login:disabled,
.btn-login button[disabled],
.btn-login:focus:disabled,
.btn-login:focus button[disabled],
.btn-login:active:disabled,
.btn-login:active button[disabled],
.btn-login:active:focus:not(:disabled):not(.disabled):disabled,
.btn-login:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-send-recovery,
.btn-send-recovery:focus,
.btn-send-recovery:active,
.btn-send-recovery:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  background: #1111cb;
  border-color: #1111cb;
  height: 60px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-send-recovery:hover,
.btn-send-recovery:focus:hover,
.btn-send-recovery:active:hover,
.btn-send-recovery:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}
.btn-send-recovery:disabled,
.btn-send-recovery button[disabled],
.btn-send-recovery:focus:disabled,
.btn-send-recovery:focus button[disabled],
.btn-send-recovery:active:disabled,
.btn-send-recovery:active button[disabled],
.btn-send-recovery:active:focus:not(:disabled):not(.disabled):disabled,
.btn-send-recovery:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-create-tatto,
.btn-create-tatto:focus,
.btn-create-tatto:active,
.btn-create-tatto:active:focus:not(:disabled):not(.disabled) {
  color: #fff;
  background: #1111cb;
  border-color: #1111cb;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-create-tatto:hover,
.btn-create-tatto:focus:hover,
.btn-create-tatto:active:hover,
.btn-create-tatto:active:focus:not(:disabled):not(.disabled):hover {
  color: #fff;
  background: #3935b5;
  border-color: #3935b5;
}
.btn-create-tatto:disabled,
.btn-create-tatto button[disabled],
.btn-create-tatto:focus:disabled,
.btn-create-tatto:focus button[disabled],
.btn-create-tatto:active:disabled,
.btn-create-tatto:active button[disabled],
.btn-create-tatto:active:focus:not(:disabled):not(.disabled):disabled,
.btn-create-tatto:active:focus:not(:disabled):not(.disabled) button[disabled] {
  cursor: not-allowed;
}

.btn-back {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 5px 0px;
  border: 2px solid #007bff;
  color: #007bff;
  transition: 0.7s ease;
  cursor: pointer;
}
.btn-back:hover {
  color: #fff;
  background: #0062cc;
}

.alert {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 10px;
}

.alert-dismissible .close {
  top: initial;
  transition: 0.5s ease;
  color: inherit;
}
.alert-dismissible .close:hover {
  color: #262626;
}

.container-loading {
  width: 100%;
  height: 100vh;
}
.container-loading .box-loading img,
.container-loading .box-loading svg {
  -webkit-animation: logo 15s forwards, fadein 2s;
          animation: logo 15s forwards, fadein 2s;
  max-width: 100%;
  width: 100px;
  height: 100px;
}
.container-loading .box-loading h1 {
  -webkit-animation: logo 15s forwards, fadein 2s;
          animation: logo 15s forwards, fadein 2s;
  font-size: 70px;
  text-transform: uppercase;
}
@-webkit-keyframes logo {
  0% {
    transform: scale(1, 1);
  }
  6% {
    transform: scale(1.2, 1.2);
  }
  14% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.2, 1.2);
  }
  30% {
    transform: scale(1, 1);
  }
}
@keyframes logo {
  0% {
    transform: scale(1, 1);
  }
  6% {
    transform: scale(1.2, 1.2);
  }
  14% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.2, 1.2);
  }
  30% {
    transform: scale(1, 1);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error-400,
.error-401,
.error-403,
.error-404,
.error-500 {
  margin-bottom: 120px;
}
.error-400 svg,
.error-401 svg,
.error-403 svg,
.error-404 svg,
.error-500 svg {
  width: 100%;
}
.error-400 h1,
.error-401 h1,
.error-403 h1,
.error-404 h1,
.error-500 h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}
.error-400 h2,
.error-401 h2,
.error-403 h2,
.error-404 h2,
.error-500 h2 {
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-top: 2px solid #e9ecef;
}
.footer .copyright {
  font-size: 13px;
  font-weight: 700;
  color: #6c757d;
}
.footer .social a {
  color: #6c757d;
  padding-right: 0.8rem;
  padding-left: 0;
  text-decoration: none;
  transition: ease 0.5s;
}
.footer .social a:hover, .footer .social a:focus, .footer .social a:active, .footer .social a:active:focus:not(:disabled):not(.disabled) {
  color: #556ee6;
}/*# sourceMappingURL=styles.css.map */