.card {
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
}

.card,
.card-body {
  box-shadow: none;
  border-radius: 6px;
}

.card-tattos {
  .card-header,
  .card-body,
  .card-footer {
    margin: 20px 0 20px 0;
  }

  .card-header {
    background: #fff;
    border-bottom: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .card-body {
    .empty-tatto {
      span,
      small {
        display: block;
      }

      .empty-tatto-image {
        display: flex;
        align-items: center;
        justify-content: center;

        img,
        svg {
          max-width: 100%;
          width: 30%;
          height: 30%;
        }
      }

      .empty-tatto-title {
        font-weight: bold;
        font-size: 20px;
      }

      .empty-tatto-description {
        font-weight: 500;
        line-height: 1.2;
      }
    }
  }

  .card-footer {
    background: #fff;
    border-top: none;
  }
}

.card-new-tatto {
  .card-header,
  .card-footer {
    margin: 20px 0 0 0;
  }

  .card-header {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: none;

    i {
      font-size: 1.25rem;
      margin-right: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .card-footer {
    background: #fff;
    border-top: none;
  }
}

.card-options {
  border: none;

  .card-header {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: none;

    i {
      font-size: 1.25rem;
      margin-right: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      font-weight: bold;

      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .card-footer {
    background: #fff;
    border-top: none;
  }
}

.card-setting-nav {
  .card-body {
    a {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #8a90a2;

      &.active {
        color: #000;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

.card-setting-info,
.card-setting-personal {
  .card-body {
    .card-title {
      text-align: left;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: -.56px;
      color: #000;
      margin-top: 0;
      margin-bottom: 24px;
    }
  }
}