.container-loading {
  width: 100%;
  height: 100vh;

  .box-loading {
    img,
    svg {
      animation: logo 15s forwards, fadein 2s;
      max-width: 100%;
      width: 100px;
      height: 100px;
    }

    h1 {
      animation: logo 15s forwards, fadein 2s;
      font-size: 70px;
      text-transform: uppercase;
    }

    @keyframes logo {
      0% {
        transform: scale(1, 1);
      }

      6% {
        transform: scale(1.2, 1.2);
      }

      14% {
        transform: scale(1, 1);
      }

      20% {
        transform: scale(1.2, 1.2);
      }

      30% {
        transform: scale(1, 1);
      }
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @-moz-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @-webkit-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @-o-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
